.main

.header
{
    
    width: 1300px;
    padding:0;;
    margin:0;;

}
.header img{
    width: 500px;
    height:500px;
}
h1{
    font-size: 60px;
    font-style: italic;
    
    font-weight: bold;
  
    color: rgb(230, 134, 10);
    text-transform: uppercase;
    letter-spacing: 1.5px;
    
}

.menu ul{
    padding:0;
    margin:0;
    background-color:yellow;
}
.menu ul li{
    display:inline-block;
    border-right: #fff 2pt solid;

}
.menu ul li a{
    color:#fff;
    text-decoration:initial;
    font: size 18px;
}
.menu ul li a:hover{
    color:green;
    background-color: bisque;
}
.menu ul p{
    font-size: medium;

}
.menu ul h3{
    font size:10px; ;
}
.content{
    display:inline block;
    width: 1250px;
}
.lcontent{
    display:inline-block;
    width: 600px;
    float:left;
    border:#006699 2pt solid;
    margin:10px
}
.rcontent{
    display:inline-block;
    width: 600px;
    float:right;
    border:#006699 2pt solid;
    margin:10px
}
.lcontent img,.rcontent img{
    width:600px;
    height:400px;
}
.footer h3{
    text-align:center;
    color: #fff;
}
.menu li p{
    font-size: large;
}
