
.header
{
    width: 0px;
    padding:0;;
    margin:0;;

}
.header table li{
    font-size: 100px;
    font-style: italic;
    
    
    
}
.header img{
    width: 1335px;
    height:600px;
    background-image: -o-linear-gradient(rgba(0,0,0,0.5)) url(../ocean side view.jpeg);
}
nav{
    width: 1200px;
    height: 75px;
    line-height: 75px;
    padding:0px 100px;
    position: fixed;
    background-image: linear-gradient(#033747,#012733);
}
nav .menu p{
    font-size:30px;
    font-weight: bold;
    float: left;
    color: antiquewhite;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
nav ul{
    float: right;
}
nav ul li{
    display:inline-block;
    list-style: none;


}
nav ul li a{
    color:#fff;
    text-transform: uppercase;
    padding: 0px 30px;
    font: size 10px;
}
nav ul li a:hover{
    color:#ff8c69;
   transition:all 0.4s ease 0s;
}
.title{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.title h1{
    color: #fff;
    font-size: 70px;

}
.header table{
    text-align: center;
    width: 800px;
    border-collapse: collapse;
    margin: auto;
    font-size: 20px;
}
.content{
    display:inline block;
    width: 1250px;
}
.lcontent{
    display:inline-block;
    width: 600px;
    float:left;
    border:#006699 2pt solid;
    margin:10px
}
.rcontent{
    display:inline-block;
    width: 600px;
    float:right;
    border:#006699 2pt solid;
    margin:10px
}
.lcontent img,.rcontent img{
    width:600px;
    height:400px;
}
.lcontent p,.rcontent p,.mcontent p{
    width: 600px;
    height:400px;
}/*

.slider{
    position:relative;
    width: 400px;
    height: 250px;
    overflow :hidden;
}
.images{
    display: flex;
    width:100%;
}
.images img{
    height:400px;
    width:100%;
    transition: all 0.15s ease;

} 
.images input{
    display :none;

}
.dots{
    display: flex;
    justify-content: center;
    margin:5px;

}
 .dots label{
    height:20px;
    width:20px;
    border-radius: 50%;
    border:solid #006699 3px;
    cursor: pointer;
    transition: all 0.15s ease;
    margin: 5px;

}
.dots label:hover{background: #bb3232;}
#img1:checked ~.m1{
    margin-left: 0;

}
#img2:checked ~.m2{
    margin-left: -20%;
    
}
#img3:checked ~.m3{
    margin-left: -40%;
    
}
#r4:checked ~.m4{
    margin-left: -60%;
    
}
#r5:checked ~.m5{
    margin-left: -80%;
    
}*/
.footerh3{
    text-align:center;
    color: #fff;
}